.container {
    width: 100vw;
    height: 5500px;
}

.Header {
    width: 100vw;
    height: 90px;
    padding-left: 130px;
}

.logo {
    float: left;
    width: 10%;
    height: 80px;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.u_list {
    padding: 0;
    display: table;
}

.navmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 240px;
    margin-top: 20px;
    float: left;
    /* width :810px; */
    height: 55px;

}

.navsubmit {

    justify-content: center;
    align-items: center;
    border-right-style: solid;
    border: thin;
    display: flex;
    width: 50px;
    height: 55px;
    color: #26c28f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: white;

}

.navsubmit:hover {
    display: flex;
    align-items: center;
    border-right-style: solid;
    width: 55px;
    border-radius: 100px;
    color: white;
    background-color: #26c28f;

}

.navsubmit:active {
    display: flex;
    align-items: center;
    border-right-style: solid;
    width: 60px;
    background-color: #1dcf94;
    box-shadow: 0 2px #97a598;
    transform: translateY(0.2px);
}

.navtavsize {
    border-right-style: solid;
    border: thin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    float: left;
    width: 120px;
    height: 55px;
    color: #26c28f;
}

.body1 {
    width: 100%;
    height: 500px;

}

.imgslider {
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: url("Tex1.jpg");
    animation: imgchange 10s linear infinite;

}


@keyframes imgchange {
    40% {
        background-image: url("Tex2.jpg");
    }

    80% {
        background-image: url("Tex3.jpg");
    }
}

#body2 {
    width: 100%;
    height: 1020px;
    background-color: rgb(239, 243, 243);
}

#line {
    margin-right: 0;
    position: absolute;
    float: left;
    margin-top: 100px;
    color: #2b2e2d;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.leftbody {

    float: left;
    width: 50%;
    height: 820px;

}

.leftbody_sub {

    margin-left: 200px;
    ;
    float: left;
    margin-top: 300px;

    width: 60%;
    height: 520px;

}

.leftbody_sub_margin {
    margin-top: 40px;
}

.image {
    display: grid;
    place-items: center;
    width: 100%;
}

.number {
    font-size: 30px;
    display: grid;
    place-items: center;
    width: 100%;
    color: #26c28f;
    font-weight: bold
}

.undertext {
    font-size: 15px;
    display: grid;
    place-items: center;
    width: 100%;
    color: #26c28f;
}



.rightbody {
    float: left;
    width: 50%;
    height: 820px;

}

.rightbody_sub {
    margin-left: 70px;
    float: left;
    margin-top: 300px;

    width: 60%;
    height: 520px;

}

.rightbody_sub_margin {
    margin-top: 40px;
}

#middle {
    float: left;
    width: 100%;
    margin-top: 30px;
}

#body3 {

    display: grid;
    place-items: center;
    width: 100%;
    height: 500px;

}

#body3 #body3_subbody {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 920px;
    height: 400px;

}

.roundbox {
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 280px;
    height: 350px;

}






.icon {
    color: #1dcf94;


    width: 100%;
}

.rbox_header {

    font-weight: bolder;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.rbox_description {
    height: 150px;
    font-size: 13px;
    font-weight: lighter;
    font-family: "Roboto", Sans-serif;
    font-style: inherit;
    width: 100%;
    text-align: left;
    line-height: 1.85714285714286;
}

.rbox_button_submit {
    display: flex;
    padding-right: 30px;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
    width: 180px;
    height: 40px;
    background-color: white;
    border: none;
}

.rbox_button_submit:hover {
    background-color: #26c28f;
    font-weight: bold;
    border-radius: 6px;
    transform: translateY(-8px);
    transform: translateX(8px);
}

.fa-solid fa-arrow-right {
    transform: scale(1.5);
}

#line2 {
    text-align: center;
    float: left;
    font-kerning: 20px;
    width: 100%;
    height: 100px;
    font-weight: bolder;
}

#line3 {
    font-size: 45px;
}

#body5 {
    align-items: center;
    display: flex;
    justify-content: center;
    float: left;
    width: 100%;
    height: 800px;

}

.box1 {

    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 13px;
    background-color: #1dcf94;
    align-items: center;
    background-image: url("Garments.jpg");
    background-size: cover;
}

.body5_sub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    width: 70%;

    height: 600px;
}

.box_button {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.boxhead {
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.boxbgi {
    display: inline-block;

    border-radius: 13px;
    width: 100%;
    height: 50%;


}

h4 {
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.box_button_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 180px;
    height: 40px;
    background-color: white;
    border: none;
}

.box_button_submit:hover {
    background-color: #1dcf94;
    color: white;
}

.box2 {

    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 13px;
    background-color: #1dcf94;
    align-items: center;
    background-image: url("Fabric.jpg");
    background-size: cover;
}

.box3 {

    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 13px;
    background-color: #1dcf94;
    align-items: center;
    background-image: url("Yarn.jpg");
    background-size: cover;
}

.box4 {

    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 13px;
    background-color: #1dcf94;
    align-items: center;
    background-image: url("Home.jpg");
    background-size: cover;
}

.box5 {

    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 13px;
    background-color: #1dcf94;
    align-items: center;
    background-image: url("Organic.jpg");
    background-size: cover;
}

#body6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: left;
    width: 100%;
    height: 500px;


}

#body6image {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: baseline;
    align-items: center;
    width: 70%;
    background-color: aliceblue;
    height: 400px;
    background-image: url("INTERSECTION.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#body6_textdiv {
    width: 100%;
    height: 100%;

}

#body6text {
    margin-top: 200px;
    text-align: center;
    font-weight: 500;
    color: white;
}

.body6box_button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.body6box_button_submit {
    width: 200px;
    height: 30px;
    color: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;

}



#body7 {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
    height: 500px;


}

.body7_sub {
    display: inline;
    width: 70%;
    height: 300px;

}

.youtube {
    display: inline;
}

.body7_sub_text {
    float: right;
    width: 50%;
    height: 300px;
    /*  display: grid;
    grid-template-rows: repeat(4,1fr) ;  */

}

.body7_sub_text ul {
    list-style: none;
}



#body7 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: left;
    width: 100%;
    height: 500px;


}

#body7image {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: baseline;
    align-items: center;
    width: 70%;
    background-color: aliceblue;
    height: 400px;
    background-image: url("automotive-textile-big.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#body7_textdiv {
    width: 100%;
    height: 100%;

}

#body7text {
    margin-top: 100px;
    text-align: center;
    font-weight: 500;
    color: white;
}

.body7box_button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.body7box_button_submit {
    width: 200px;
    height: 30px;
    color: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}


#body8 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
    height: 500px;


}

.body8_sub {
    display: inline;
    position: absolute;
    width: 70%;
    height: 450px;

}

.body8_left {
    float: left;
    width: 45%;
    height: 450px;
    padding: 10px;
    background-color: #e6ecea;
}

.body8_right {

    float: left;
    width: 52%;
    height: 480px;
}


.body8_right UL {
    list-style: none;
}

.body8_list_text {

    margin-top: 10px;
    font-size: 14px;
    font-weight: lighter;
}

.body8_list_input {
    outline: none;
    width: 450px;
    height: 37px;
}

.messasge input::placeholder {
    margin: 0;
}

.body8_button {
    margin-top: 30px;
    background-color: #26c28f;
    width: 460px;
    border-width: 0;
    height: 50px;
    color: white;
    font-size: large;
    border-radius: 3px;
}


.footer {
    margin-top: 100px;
    float: left;
    width: 100%;
    height: 480px;
    background-color: #001c38;
}

.footersub {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #001c38;
    border-bottom: solid 0.25px white;
}

.footersub_sub {
    display: flex;
justify-content: center;
    width: 70%;
    height: 400px;
}

.footerleft {
   
    float: left;
    
    width: 40%;
    height: 400px;
}

.footerright {
    float: left;
    
    width: 60%;
    height: 400px;
}
#footerlogo{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
#footerpara{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
#footerpara_textsize{
    font-size: 13px;
    line-height: 2;
    width: 90%;
    height: 100px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}
.individual{
    border-radius: 3px;
    margin:10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height:30px;
    background-color: #033b74;
   color: white;
}
#socialmedia{
    margin-top: 100px;
    width: 100%;
    height: 50px;
}
.footerright_sub{
    float: left;
    width: 32%;
    height: 400px;
    margin-left: 5px;
    

}
.footerright_sub ul li{
    list-style: none;
}
.li_Head{
font-size: 18px;
font-weight: bold;
color: white;
margin-bottom: 20px;
}
.divli{
    font-size: 13px;
    color: #b2bdc9;
margin-top: 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: lighter;
}